@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 2px;
}

html::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #242424;
}

body {
    @apply text-primaryText;
    background-color: #fff;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
}

.input {
    @apply border-black border-2 rounded-md text-primaryText;

}

.offers {
    text-align: center;
    background-color: #04216f;
    color: #eee;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .offers {
        font-size: 1rem;
    }
}

@media screen and (max-width: 360) {
    .offers {
        font-size: 0.8rem;
    }
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

ul li a {
    color: #242424;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.35rem 0.75rem;
    transition: all 0.2s ease-in-out;
    display: flex;
}

ul li a:hover {
    @apply bg-blue-500 rounded-full text-white;
}

@media screen and (max-width: 945px) {

    ul {
        display: none;
    }

    .brand {
        text-align: center;
    }

    ul.expanded {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        background-color: #ffffff;
        top: 0;
        width: 70%;
    }

    .hamburger {
        position: absolute;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }

    .hamburger div {
        position: relative;
        width: 3rem;
        height: 7px;
        border-radius: 3px;
        background-color: #000000;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked+.hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }

    #toggle:checked+.hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked+.hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }

    #toggle:checked+.hamburger+.nav {
        top: 0;
        transform: scale(1);
    }
}

.btn-primary {
    @apply bg-bg px-4 py-2 rounded-lg text-secondaryText flex w-full mx-auto mt-4 gap-2 justify-center items-center transition duration-300 ease-in-out hover:bg-secondaryText hover:text-bg hover:scale-95
}

img {
    @apply scale-95 transition-all ease-in-out duration-300 hover:scale-100;
    filter: drop-shadow(0 0 0.75rem #24242450);
}

label {
    @apply text-primaryText font-semibold;
}

input.input-form,
textarea.input-form,
select.input-form {
    @apply outline-none rounded-md px-2 py-1 m-2 text-black bg-slate-200 mb-20 w-full
}

input:focus,
textarea:focus {
    @apply outline-gray-500;
}

textarea {
    @apply resize-none w-full;
}

.half {
    width: 46%;
    height: 3rem;
}

.title {
    @apply text-4xl font-bold text-center mx-auto my-2;
}

.sub-title {
    @apply text-2xl font-semibold text-primaryText text-center mx-auto my-2;
}

.alert {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #242424;
    border-radius: 5px;
    padding: 3rem 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0);
    font-size: 16px;
    text-align: center;
    color: #fafafa;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

a.signin-button {
    @apply bg-blue-300 rounded-full flex items-center gap-2 hover:scale-95;
}

table.pricing-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 12px;
    @apply bg-blue-200;
}

table.pricing-table td,
table.pricing-table th {
    border: 1px solid #242424;
    padding: 0.5rem;
}

table.pricing-table th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    color: white;
    @apply bg-blue-500;
}

table.pricing-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-menu li {
    list-style: none;
    padding: 0 0.5rem;
}